.sliderFill[data-height="0"] { height: 0%; }
.sliderFill[data-height="1"] { height: 1%; }
.sliderFill[data-height="2"] { height: 2%; }
.sliderFill[data-height="3"] { height: 3%; }
.sliderFill[data-height="4"] { height: 4%; }
.sliderFill[data-height="5"] { height: 5%; }
.sliderFill[data-height="6"] { height: 6%; }
.sliderFill[data-height="7"] { height: 7%; }
.sliderFill[data-height="8"] { height: 8%; }
.sliderFill[data-height="9"] { height: 9%; }
.sliderFill[data-height="10"] { height: 10%; }
.sliderFill[data-height="11"] { height: 11%; }
.sliderFill[data-height="12"] { height: 12%; }
.sliderFill[data-height="13"] { height: 13%; }
.sliderFill[data-height="14"] { height: 14%; }
.sliderFill[data-height="15"] { height: 15%; }
.sliderFill[data-height="16"] { height: 16%; }
.sliderFill[data-height="17"] { height: 17%; }
.sliderFill[data-height="18"] { height: 18%; }
.sliderFill[data-height="19"] { height: 19%; }
.sliderFill[data-height="20"] { height: 20%; }
.sliderFill[data-height="21"] { height: 21%; }
.sliderFill[data-height="22"] { height: 22%; }
.sliderFill[data-height="23"] { height: 23%; }
.sliderFill[data-height="24"] { height: 24%; }
.sliderFill[data-height="25"] { height: 25%; }
.sliderFill[data-height="26"] { height: 26%; }
.sliderFill[data-height="27"] { height: 27%; }
.sliderFill[data-height="28"] { height: 28%; }
.sliderFill[data-height="29"] { height: 29%; }
.sliderFill[data-height="30"] { height: 30%; }
.sliderFill[data-height="31"] { height: 31%; }
.sliderFill[data-height="32"] { height: 32%; }
.sliderFill[data-height="33"] { height: 33%; }
.sliderFill[data-height="34"] { height: 34%; }
.sliderFill[data-height="35"] { height: 35%; }
.sliderFill[data-height="36"] { height: 36%; }
.sliderFill[data-height="37"] { height: 37%; }
.sliderFill[data-height="38"] { height: 38%; }
.sliderFill[data-height="39"] { height: 39%; }
.sliderFill[data-height="40"] { height: 40%; }
.sliderFill[data-height="41"] { height: 41%; }
.sliderFill[data-height="42"] { height: 42%; }
.sliderFill[data-height="43"] { height: 43%; }
.sliderFill[data-height="44"] { height: 44%; }
.sliderFill[data-height="45"] { height: 45%; }
.sliderFill[data-height="46"] { height: 46%; }
.sliderFill[data-height="47"] { height: 47%; }
.sliderFill[data-height="48"] { height: 48%; }
.sliderFill[data-height="49"] { height: 49%; }
.sliderFill[data-height="50"] { height: 50%; }
.sliderFill[data-height="51"] { height: 51%; }
.sliderFill[data-height="52"] { height: 52%; }
.sliderFill[data-height="53"] { height: 53%; }
.sliderFill[data-height="54"] { height: 54%; }
.sliderFill[data-height="55"] { height: 55%; }
.sliderFill[data-height="56"] { height: 56%; }
.sliderFill[data-height="57"] { height: 57%; }
.sliderFill[data-height="58"] { height: 58%; }
.sliderFill[data-height="59"] { height: 59%; }
.sliderFill[data-height="60"] { height: 60%; }
.sliderFill[data-height="61"] { height: 61%; }
.sliderFill[data-height="62"] { height: 62%; }
.sliderFill[data-height="63"] { height: 63%; }
.sliderFill[data-height="64"] { height: 64%; }
.sliderFill[data-height="65"] { height: 65%; }
.sliderFill[data-height="66"] { height: 66%; }
.sliderFill[data-height="67"] { height: 67%; }
.sliderFill[data-height="68"] { height: 68%; }
.sliderFill[data-height="69"] { height: 69%; }
.sliderFill[data-height="70"] { height: 70%; }
.sliderFill[data-height="71"] { height: 71%; }
.sliderFill[data-height="72"] { height: 72%; }
.sliderFill[data-height="73"] { height: 73%; }
.sliderFill[data-height="74"] { height: 74%; }
.sliderFill[data-height="75"] { height: 75%; }
.sliderFill[data-height="76"] { height: 76%; }
.sliderFill[data-height="77"] { height: 77%; }
.sliderFill[data-height="78"] { height: 78%; }
.sliderFill[data-height="79"] { height: 79%; }
.sliderFill[data-height="80"] { height: 80%; }
.sliderFill[data-height="81"] { height: 81%; }
.sliderFill[data-height="82"] { height: 82%; }
.sliderFill[data-height="83"] { height: 83%; }
.sliderFill[data-height="84"] { height: 84%; }
.sliderFill[data-height="85"] { height: 85%; }
.sliderFill[data-height="86"] { height: 86%; }
.sliderFill[data-height="87"] { height: 87%; }
.sliderFill[data-height="88"] { height: 88%; }
.sliderFill[data-height="89"] { height: 89%; }
.sliderFill[data-height="90"] { height: 90%; }
.sliderFill[data-height="91"] { height: 91%; }
.sliderFill[data-height="92"] { height: 92%; }
.sliderFill[data-height="93"] { height: 93%; }
.sliderFill[data-height="94"] { height: 94%; }
.sliderFill[data-height="95"] { height: 95%; }
.sliderFill[data-height="96"] { height: 96%; }
.sliderFill[data-height="97"] { height: 97%; }
.sliderFill[data-height="98"] { height: 98%; }
.sliderFill[data-height="99"] { height: 99%; }
.sliderFill[data-height="100"] { height: 100%; }